
<div class="row">
  <div class="col-md-12">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active"><img ng-src="{{slide.image}}" style="margin:auto;width: 100%;" class="img-responsive"/>
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<div class="container container-top">
  <div class="row">
    <div class="col-md-12">
      <div style="padding: 16px;" class="wwww">
        <input type="text" ng-model="asyncSelected" placeholder="請輸入你想查詢的公開演講" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control"/>
        <div class="tag"><a href="#" ng-repeat="(key, tag) in body.tags">{{tag.tw_title}}</a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div ng-repeat="(key, item) in body.list" class="col-sm-6 col-md-4">
        <div id="{{index}}" class="thumbnail"><img src="http://assets.thewall.tw/uploads/announcement/masthead/287/1e8a9e41-37c2-45d5-b17f-59523a371688.jpg" class="img-rounded"/>
          <div class="caption">
            <h1>太陽花學運，初多稱318學運、佔領國會事件</h1>
            <div class="description">
              <p>事件起始於當地時間3月18日晚間18時，中國國民黨立法委員張慶忠以30秒之速草率宣布完成 《海峽兩岸服務貿易協議》的委員會審查，而引起一群就讀大學與研究所的學生們反對，並在立法院外舉行「守護民主之夜」晚會，抗議輕率的審查程序；之後有400多名學生趁著警員不備，而進入立法院內靜坐抗議，接著於晚間21時突破警方的封鎖線佔領立法院議場。</p>
            </div>
            <div class="keyword">
              <div class="tag_style_2"><a href="#">太陽花</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="text-align:center;" class="col-md-12">
      <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" boundary-links="true" rotate="false" num-pages="numPages" class="pagination-sm"></pagination>
    </div>
  </div>
</div>