
carousel(interval="myInterval")
    slide(ng-repeat="slide in slides" active="slide.active")
        img.img-responsive.slidesPhoto(ng-src="{{slide.image}}" style="margin:auto;width: 100%;")
        div.carousel-caption
            h4 Slide {{$index}}
            p {{slide.text}}

//- div.row
//-     div.col-md-12
//-         div(style="width:100%;background:#fff;height:300px;")

div.container.container-top


    div.row
        div.col-md-12
            div.search-bar.fa.fa-search
                input.form-control(type="text" ng-model="asyncSelected" placeholder="請輸入你想查詢的公開演講" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations")
                //- i.glyphicon.glyphicon-refresh(ng-show="loadingLocations")
                div.tag
                    a(href="#" ng-repeat="(key, tag) in body.tags") {{tag.tw_title}}


    div.row
        //- h2.example-title(style="text-align:center;") 過去演講
        div.col-sm-6.col-md-4(ng-show="true" ng-repeat="(key, item) in body.list")
            div.thumbnail(id="{{index}}")
                div.ribbon-wrapper
                    div.ribbon 精選演講
                a(href="/article.php?id={{item.id}}")
                    img(src="{{item.coverPhoto}}" onerror="this.src = ISPEECH.constant.ERROR_IMAGE")
                div.caption
                    h1 {{item.title}} {{item.name}}
                    div.description
                        p {{item.abstract}}
                    div.keyword
                        //- label 關鍵字
                        div.tag_style_2
                            a(href="#") 太陽花
                        //- div.date
                        //-     label 發佈日期
                        //-     span 2014.04.05

    div.row
        div.col-md-12(style="text-align:center;")
            pagination(total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="‹" next-text="›" first-text="«" last-text="»")