div.profile
    img#coverPhoto.img-responsive(src="{{body.article.coverPhoto}}")
    div.mark
        div.author-title
            img.author-img(src="{{body.article.lecturer.photo}}")
            span {{body.article.title}}
            //- span {{body.article.lecturer.lectureDate}}
            //- span {{body.article.abstract}}
        div.tagSection(ng-show="body.article.tags")
            span.tags(ng-repeat="(key, tag) in body.article.tags") {{tag}}

div.XDD

div.film
    div#player2.video-container(ng-show="body.article.video" ng-bind-html="body.article.video")
    //- div#player1.video-container(ng-show="body.article.video" ng-bind-html="body.article.video")
    //- div.fb-like-box(data-href="https://www.facebook.com/Speaker.tw" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true")
    //- div.fb-share-button(data-type="icon_link")

div.section
    //- div.fix-section
    div
        div#player1.video-container(ng-show="!!body.article.video" ng-bind-html="body.article.video")
        //- div.fb-like-box(data-href="https://www.facebook.com/Speaker.tw" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true")
        //- div.fb-share-button(data-type="icon_link")

    tabset#myTab.nav.nav-tabs()
        tab(heading="中文稿" ng-show="body.article.speech.chinese" ng-style="body.tabWidth")
            div.content(ng-bind-html="body.article.speech.chinese")
        tab(heading="中英文對照" ng-show="body.article.speech.mix" ng-style="body.tabWidth")
            div.content(ng-bind-html="body.article.speech.mix")
        tab(heading="英文稿" ng-show="body.article.speech.english" ng-style="body.tabWidth")
            div.content(ng-bind-html="body.article.speech.english")

    div.social-plugin
        <!-- JiaThis Button BEGIN -->
        //- div.jiathis_style_32x32
        //-     a.jiathis_button_qzone
        //-     a.jiathis_button_tsina
        //-     a.jiathis_button_tqq
        //-     a.jiathis_button_weixin
        //-     a.jiathis_button_renren
        //-     a.jiathis_button_fb
        //-     a.jiathis.jiathis_txt.jtico.jtico_jiathis(href="http://www.jiathis.com/share" target="_blank")
        //-     a.jiathis_counter_style
        //- script(type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1394000889809100" charset="utf-8")
        <!-- JiaThis Button END -->
        div.shareaholic-canvas(data-app='share_buttons' data-app-id='7841807')
        //- div.fb-facepile(data-app-id="582221601854005" data-href="https://www.facebook.com/Speaker.tw" data-max-rows="1" data-colorscheme="light" data-size="medium" data-show-count="true")


    div(style="padding: 15px;background: #fff;")
        div#disqus_thread.disqus_thread
    //- disqus
    script(type="text/javascript").
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'httpispeechnet'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    noscript Please enable JavaScript to view the
        a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.



div.section
    div.similar
        div.similar-title = 你可能有興趣的其他演講 =
        div.archive-container
            div.thumb(ng-repeat="(key, relation) in body.relations")
                div.ribbon-wrapper
                    div.ribbon 精選演講
                div.thumb-image
                    a(href="/article.php?id={{relation.id}}" id="{{relation.id}}" ng-click="body.ga_image_a();")
                        img(src="{{relation.coverPhoto}}")
                    //- div.thumb-pre
                    //-     p 目前已有 {{relation.readNum}} 人瀏覽
                div.thumb-info
                    div.thumb-title
                        div.thumb-name
                            h2
                                a(href="/article.php?id={{relation.id}}") {{relation.title}}
                                p(style="color: #9B9B9B;line-height: 16px;") {{relation.abstract}}
                        div.thumb-cat
                    div.clear
