doctype html
html(lang="en" ng-app="ispeech")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")

        //- og meta
        meta(property="og:title" content="Ispeech 愛聽講")
        meta(property="og:image" content="../static/imgs/logo.jpg")
        meta(property="og:site_name" content="Ispeech 愛聽講")
        meta(property="og:description" content="我們都曾因為聽了某些名人或素人的演講，而開始改變了自己的想法與目標。此刻，希望能讓更多人在這平台上找到屬於你的方向，思考人生。")

        title Ispeech

        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora:400,700")
        link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
        link(rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css")
        //- link(rel="stylesheet" href="../bower_components/flat-ui-official/css/flat-ui.css")
        //- link(rel="stylesheet" href="../app/static/css/main.css")
        //- link(rel="stylesheet" href="../app/static/css/nindex.css")
        link(rel="stylesheet" href="../app/static/css/application.css")
        link(rel="stylesheet" href="../app/static/sass/components/style.css")
        //- link(rel="stylesheet" href="../app/static/css/article.css")

    body

        //- Framework
        script(type="text/javascript" src="../bower_components/jquery/dist/jquery.js")
        script(type="text/javascript" src="../bower_components/angular/angular.js")
        script(type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js")
        script(type="text/javascript" src="../bower_components/angular-facebook/lib/angular-facebook.js")
        script(type="text/javascript" src="../app/static/js/ui-bootstrap.js")
        script(type="text/javascript" src="http://code.angularjs.org/1.2.1/angular-sanitize.js")
        script(type="text/javascript" src="http://www.youtube.com/player_api")

        //- plugin
        script(type="text/javascript" src="../bower_components/slidr/slidr.min.js")
        script(type="text/javascript" src="../bower_components/jquery-waypoints/waypoints.min.js")
        script(type="text/javascript" src="../app/static/js/tw_cn.js")
        script(type="text/javascript" src="../bower_components/jquery-waypoints/shortcuts/sticky-elements/waypoints-sticky.js")
        script(type="text/javascript" src="http://www.littleco.com/wp-content/themes/littlecompany/js/bootstrap.min.js?ver=20130926")
        script(type="text/javascript" src="http://www.littleco.com/wp-content/themes/littlecompany/js/jquery.validity.min.js?ver=20130926")

        //- main js
        script(type="text/javascript" src="../app/static/js/ispeech.js")
        script(type="text/javascript" src="../app/static/js/app.js")

        //- Facebook SDK
        //- script(type="text/javascript").
        //-     (function(d, s, id) {
        //-       var js, fjs = d.getElementsByTagName(s)[0];
        //-       if (d.getElementById(id)) return;
        //-       js = d.createElement(s); js.id = id;
        //-       js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=582221601854005";
        //-       fjs.parentNode.insertBefore(js, fjs);
        //-     }(document, 'script', 'facebook-jssdk'));

        script(type="text/javascript").
            var defaultEncoding = 1;
            var translateDelay = 0;
            var cookieDomain = '//localhost';
            var msgToTraditionalChinese = "切換简体";
            var msgToSimplifiedChinese = "切換繁體";
            var translateButtonId = "translateLink";
            translateInitilization();

            $(window).on({
                load: ISPEECH.event.load,
                resize: ISPEECH.event.resize,
                scroll: ISPEECH.event.scroll
            });

        //- 網站主要內容
        div(ui-view="header")
        div(ui-view="body")
        div(ui-view="footer")
        //- div(ui-view="navbar")