!!! 5
html(lang="en" ng-app="ispeech")
    head
        - include('base.php')
    body(ng-controller="index as body")
        - include('templates/header.php')
        - include('templates/list/body.php')
        - include('templates/footer.php')
