header.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container-fluid
        a.logo(href="/") Is

        if true
            button.navbar-toggle.open_nav(type="button")
        else
            button.navbar-toggle.advanced_btn_mobile(type="button")
                i.fa.fa-cog.fa-2x

        p.slogan_mobile.only_mobile 愛聽講

        div#bs-example-navbar-collapse-5.collapse.navbar-collapse
            p.slogan 多看多聽不一樣的經驗分享，將改變你的態度與人生

        button.btn.btn-primary.navbar-right.advanced_btn(ng-hide="header.user" type="button" ng-click="header.login()") 登入使用
        div.header-profile
            img(ng-click="header.account()" ng-show="header.user" src="{{header.user.picture.data.url}}", alt="")
