nav.side_menu
    div.side_body
        span#sidenav_close
        h1.side_logo Ispeech 愛聽講
        div.search-box
            input(placeholder="點這裡搜尋演講..")
            span.icon.glyphicon.glyphicon-search
        div.user_welcome
            p Hi,
            span.login_user_name
            img.nav_logo(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/p50x50/10314011_10202684084237605_1762184246269689844_t.jpg")
        p.side-use 在 Ispeech 中你將可以自定義標籤，提供給你有收藏的文章，以便日後尋找。
        ul
            li
                a(href="") 管理標簽
                    span.badge 14
            li
                a(href="") 查看收藏文章
                    span.badge 14
            li
                a(href="") 基本資料設定
                    span.badge 14
            li
                a.translateLink(href="") 簡繁互換
            li
                a(href="") 登出
        p.side-use.quote No one saves us but ourselves. No one can and no one may. We ourselves must walk the path. - Buddha
