
<header role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid"><a href="" class="logo">Is</a>
    <button type="button" class="navbar-toggle open_nav"></button>
    <p class="slogan_mobile only_mobile">愛聽講</p>
    <div id="bs-example-navbar-collapse-5" class="collapse navbar-collapse">
      <p class="slogan">多看多聽不一樣的經驗分享，將改變你的態度與人生</p>
      <div id="show_side_menu" class="navbar-right"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/p50x50/10314011_10202684084237605_1762184246269689844_t.jpg" class="head_logo"/></div>
    </div>
  </div>
</header>